<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 cart-center">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <p class="para">Please enter email and password!!</p>
                </div>
                <form [formGroup]="loginForm">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            formControlName="email">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1"
                            formControlName="password">
                    </div>
                    <button type="submit" class="btn btn-dark" (click)="onLogin()">Login</button>

                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<app-alert></app-alert>