<div class="container mt-4">
    <h1 class="text-centermb-4">Food Item List</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col" *ngFor="let category of foodCategoryList" (click)="navigateTo(category)">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">{{category}}</p>
                </div>
            </div>
        </div>
    </div>
</div>